
# Created by https://www.toptal.com/developers/gitignore/api/jupyternotebooks
# Edit at https://www.toptal.com/developers/gitignore?templates=jupyternotebooks

### JupyterNotebooks ###
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

__pycache__

pic_race_table
pic_racer_table
pic_return_table
pic_bangumi_Table

syusso_2022*
syusso_2023*

results_bangumi_csv/
results_bangumi_lzh/
results_bangumi_txt/

results_csv/
results_lzh/
results_txt/

old/

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/

# End of https://www.toptal.com/developers/gitignore/api/jupyternotebooks